a {color:#cccccc;}
body {color:#cccccc; background-color:#0f0f0f; font-family:sans-serif;}
a:active {outline:none;}
h1,h2,h3,h4,h5 {color:#cccccc; margin:0;}
h1 a {color:#cccccc;}
h1 a:hover {color:#ffffff;}
.ban h1 {color:#ffffff; font-size:28px; background-image:linear-gradient(to right,#ff9a63, #ffffff); background-clip:border-box; text-fill-color:transparent;}
.ban h1 a {color:#ffffff;}
h2 a {color:#cccccc;}
h2 a:hover {color:#ffffff;}
h2 a:hover {color:#ffffff;}
h2 a:focus {color:#ffffff;}
h2 a:visited {color:#cccccc;}
h3 a {color:#cccccc;}
h3 a:hover {color:#ffffff;}
#titles h3 {color:#ffffff; margin:0 0 12px 0; display:inline; font-variant:small-caps; font-size:large; font-weight:normal;}
#titles h3 a {color:#ffffff;}
#titles h3 a:hover {color:#ffffff;}
#titles h4 {color:#ffffff; margin:0; font-weight:normal;}
#titles h4 a {color:#ffffff;}
#titles h4 a:hover {color:#ffffff;}
h4 a {color:#cccccc;}
h4 a:hover {color:#ffffff;}
h5 a {color:#cccccc;}
h5 a:hover {color:#ffffff;}
.justy h5, .justy h4, .justy h3, .justy h2, .justy h1 {color:#cccccc; margin:0.5em 0;}
article.panel p:first-child  {margin-top:0;}
article.panel p:last-child {margin-bottom:0;}
tr:nth-of-type(2n) {background:rgba(0,0,0,0.02);}
td,th {color:#ffffff; border-color:#888888; padding:4px; margin:2px;}
th {color:#ffffff; background-color:#000000; border-color:#888888;}
table {border-color:#888888; font-size:80%;}
blockquote {font-family:Arial; margin:2px 0; padding:12px 18px; border-style:solid; border-width:2px; border-radius:4px; text-align:left; font-size:90%; background-color:rgba(0,0,0,0.4); border-color:rgba(136,136,136,0.4); box-shadow:0px 0px 18px 0px rgba(136,136,136,0.4);}
header {padding:0;}
.popup header {padding:4px 10px 0;}
header h3 {margin:0 0 10px 0; display:block; font-size:large;}
section {clear:both; margin:10px 0 0px 0; padding:10px 0; /*transition: all 0.2s cubic-bezier(.77,0,.18,1);*/ border-radius:0px;}
section header {margin-top:-8px; margin-bottom:0px;}
section h4 {font-weight:normal;}
section .imgl {margin-right:10px;}
article {clear:left; margin:4px 0px;}
figure {margin:0;}
figcaption {color:#cccccc; font-family:Arial; font-size:smaller;}
hr {border-color:#0f0f0f;}
ul {padding:0; margin:0 0 0 20px;}
ul ul {margin:0 0 0 16px;}
ol {margin:0 0 0 36px;}
ol ol {margin:0 0 0 24px;}
li {padding:0px 0;}
sup {line-height:0;}
sub {line-height:0;}
input {color:#cccccc; background-color:#000000; border-color:#0f0f0f; border-width:1px; border-style:solid; border-radius:0px; font-size:small; transition: background 0.2s linear; box-sizing:border-box; margin:1px 3px; padding:1px 2px; transition: all 0.2s linear;}
input:hover {background-color:#000000; border-color:#888888;}
input:focus {background-color:#000000; border-color:#888888;}
textarea {color:#cccccc; background-color:#161817; border-color:#161817; box-shadow: 0 0 4px #000000; padding:0 2px; margin:0px 0; border-radius:2px; box-sizing:border-box; -moz-box-sizing:border-box;}
textarea:hover, textarea:focus {border-color:#888888;}
select {color:#ffffff; background-color:#000000; border-color:#161817; box-shadow:0 0 2px #000000;}
button {color:#cccccc; font-size:smaller;}
submit {color:#ffffff; background-color:#000000; border-color:#161817;}
fieldset {background:rgba(0,0,0,0.2); margin:4px 0; padding:10px; border:1px solid #888888; box-shadow:0;}
legend {background:rgba(0,0,0,0.2); border:1px solid #888888;}
iframe {border:0px solid #888888;}
object {border:0;}
#page {width:inherit; margin:0 10px; padding:0 10px; max-width:800px;}
#banner {padding:0; width:100%}
#banner .banim {background-size:cover; background-position:0; height:calc(100vw/4);}
#menu {color:#ffffff; border-width:0; line-height:20px;padding:0 0 10px;}
#menu a {color:#ffffff;}
#menu a:hover {color:#ffffff;}
#navigation {color:#ffffff; border-width:0; line-height:normal; margin:0 0 10px 0;}
#navigation a {color:#ffffff;}
#navigation a:hover {color:#ffffff;}
.menus {color:#cccccc; font-size:100%; margin:4px 0 0 0;}
.menus a {color:#cccccc;}
.menus a:hover {color:#ffffff;}
.menus a {padding:4px 6px;}
.menus a:hover {background-color:#000000; text-shadow:0px 0px 1px #888888;}
.menus a.active {background-color:#000000; text-shadow:0px 0px 1px #888888;}
#titles {color:#ffffff;}
#leftbar {float:left; width:px;}
#rightbar {width:220px; padding:0; margin:0; display:none; float:right;}
#rightbar .mod {padding:0px; margin:0 0 16px 0;}
#content {margin:0 0 10px 0;}
#footer {color:#ffffff; clear:both; text-align:left; border-radius:inherit;}
#menu li a {color:#cccccc;}
#menu li a:hover {color:#ffffff;}
#menu li {float:none;}
#menu a {font-family:Arial; font-size:small; border-width:0; border-style:solid; padding:2px 4px; margin:0px 0; line-height:20px;}
#menu a:hover {text-shadow:0px 0px 1px #888888;}
#menu a.active {text-shadow:0px 0px 1px #888888;}
#menu .panel {display:block; font-weight:normal; font-family:Verdana;}
#menu .philum {font-size:23px;}
#menu .panel a {border:0;}
#artmod {display:none; margin-left:10px; margin-top:2px;}
#board {padding:0;}
input#srch {width:120px; padding:1px 3px 1px;}
input#srch:focus {width:120px;}
#board li {background-color:#161817; box-shadow:0px 0px 4px #161817; margin:4px 2px; padding:4px; font-size:small;}
#board li a {color:#cccccc;}
#board li a:hover {color:#ffffff; text-shadow:0px 0px 1px #161817;}
#bub {z-index:1;}
#bub li {padding:1px 2px 2px;}
#bub li.active {background-color:#000000;}
#bub li a {padding:0px 2px 1px;}
#bub li ul {min-width:120px;background-color:#161817; padding:2px 2px 2px;}
#bub li li a {padding:2px 2px 2px;}
#bub ul {color:#cccccc; background-color:#0f0f0f; box-shadow:0;}
#bub ul a {color:#cccccc;}
#bub ul a:hover {color:#ffffff;}
#bub ul ul {color:#cccccc; border-color:#888888; border-style:solid; border-width:1px;}
#bub ul ul a {color:#cccccc;}
#bub.inline ul a {color:#cccccc;}
#bub.inline ul a:hover {color:#ffffff;}
#bub.inline ul {background-color:#0f0f0f; border-radius:4px;}
#bub.inline ul ul a {color:#cccccc;}
#bub.inline ul ul a:hover {color:#ffffff;}
#bub.inline ul ul {background-color:#000000; border-color:#888888; border-width:1px;}
#bub li li:hover {background-color:#0f0f0f;}
#bub .philum {color:#cccccc; line-height:20px; min-width:16px;}
.desk a {color:#cccccc; width:56px; padding:0 4px; margin:0 4px;}
.desk a:hover {color:#ffffff; background-color:#000000;}
.tab {margin:7px 0; padding:4px 0; margin:7px 0; padding:3px 5px;}
.panel {color:#cccccc; font-family:Arial,Sans; padding:0 4px;}
.panel a {color:#ff9a63;}
.panel a:hover {color:#ff9a63;}
.panel a:hover {text-decoration:underline;}
ul.panel li {font-family:Arial; margin:0px 0; font-size:small;}
ul.panel li a {color:#ffffff; border-color:#161817; word-wrap: break-word;}
ul.panel li a {color:#ffffff;}
ul.panel li a:hover {color:#ff9a63; border-color:#0f0f0f;}
.justy {color:#ffffff; font-family:Georgia; font-size:20px; text-align:left; line-height:1.2em;}
.justy a {color:#ff9a63;}
.justy a:hover {color:#ff9a63;}
.justy p {margin:12px 0;}
.justy a {text-decoration:none;}
.justy a:hover {text-decoration:underline;}
.justy h1 {font-size:xx-large;}
.justy h2 {font-size:x-large;}
.justy h3 {font-size:large;}
.justy h4 {font-size:medium;}
.justy h5 {color:#888888; font-size:normal;}
.justy img {border-color:#888888; border-width:1px; border-style:solid; max-width:auto;}
.cols img#rez {width:100%;}
.grid-art {display:grid; grid-template-columns:300px auto; grid-column-gap:16px; grid-row-gap:4px;}
.thumb {border-color:#888888; background-size:100%; background-position:center center; height:160px; width:298px; float:left; margin:0 10px 10px 0; transition: all 0.3s ease; border-width:1px; border-style:solid; background-size:100%; filter:contrast(90%) brightness(97%); background-image:linear-gradient(to bottom,rgba(255,154,99,0.4),rgba(0,0,0,0.4)),linear-gradient(45deg,rgba(0,0,0,0.4),rgba(255,154,99,0.4));}
.thumb:hover {border-color:#ffffff; background-size:100%; filter:contrast(100%) brightness(100%);}
.active {color:#ff9a63;}
.active a:hover {color:#ff9a63;}
.txtit {color:#ffffff; font-size:21px; text-shadow:inherit; font-weight:bold;}
.txtit a {color:#ffffff;}
.txtit a:hover {color:#ff9a63;}
.txtcadr {color:#cccccc; border-color:#161817; font-size:small; margin:10px 0; padding:3px 5px; font-variant:petite-caps;}
.txtcadr a {color:#ffffff;}
a.txtcadr:hover {color:#ffffff; background-color:#000000;}
a.txtcadr:hover a {color:#ffffff;}
.txtcadr.active {color:#ffffff;}
.txtcadr.active a {color:#ffffff;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl {color:#ffffff; border-radius:2px; border-style:solid; border-width:0px; box-shadow:0px 0px 2px #161817; font-size:0.8em;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl a {color:#ffffff;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl a:hover {color:#cccccc;}
.txtx {color:#ffffff; background-color:#161817; border-color:#888888; border-width:0;}
.txtx a {color:#ffffff; border-color:#888888;}
a.txtx:hover {background-color:#000000; text-decoration:none;}
.txtblc {color:#ffffff; background-color:#000000; box-shadow: 0px 0px 2px #888888;}
.txtblc a {color:#ffffff;}
.txtblc a:hover {color:#ffffff;}
.txtred a:hover {border-color:#;}
.txtred {border-color:red; border-width:1px; box-shadow: 0px 3px 4px #000000 inset, 0px 0px 2px #888888; padding:2px 4px;}
a.txtred:hover {background-color:#000000; box-shadow: 0px 3px 4px #fff inset, 0px 0px 4px #888888;}
.txtnoir {color:#161817; background-color:#cccccc; box-shadow: 0px 0px 4px #161817;}
.txtnoir a {color:#161817;}
.txtnoir a:hover {background-color:#ffffff;}
.txtnoir .active {color:#161817; background-color:#ff9a63;}
.txtnoir .active a {color:#161817;}
.txtnoir .active a:hover {background-color:#ffffff;}
.txtyl {color:#000000; border-color:#ff9a63;}
.txtyl a {color:#000000;}
.txtsmall {color:#ffffff; font-family:Arial; font-size:80%; padding:0px 1px; border-width: 1px 0 0 0;}
.txtsmall a {color:#ffffff;}
.txtsmall a:hover {color:#ff9a63;}
.txtsmall a {text-decoration:underline;}
.txtsmall2 {color:#cccccc; font-family:Arial; font-size:70%; padding:0px 1px;}
.txtsmall2 a {color:#cccccc;}
.txtsmall2 a:hover {color:#cccccc;}
.txtsmall2 a {padding:0 2px; border-radius:2px;}
.txtbox {color:#161817; background-color:#ff9a63; box-shadow:0px 0px 0px #161817;}
.txtbox a {color:#161817;}
.txtbox a:hover {color:#161817;}
a.txtbox:hover {background-color:#cccccc; box-shadow:0px 0px 0px #161817;}
.txtaa, .txtab, .txtac {border-color:#0f0f0f; border-width:0 0 0px 0; border-style:solid; line-height:20px; border-radius:6px 6px 0px 0px;}
.txtaa {color:#ffffff; background-color:#000000; box-shadow:0px 0px 4px -3px #888888;}
.txtab {color:#cccccc; background-color:#161817; box-shadow:0px 0px 4px -3px #888888;}
.txtab:hover {color:#ffffff; background-color:#000000;}
.txtac {border-width:0 0 1px 0; background:linear-gradient(to bottom,rgba(136,136,136,0),rgba(136,136,136,0.5));}
.popbt, .popw, .popsav, .popdel {color:#cccccc; border-color:#0f0f0f; text-decoration:none; padding:2px 4px; border-radius:2px; border-style:solid; border-width:1px; margin:1px;}
.popbt {color:#ffffff; background-color:#0f0f0f; border-color:#888888;}
.popbt a {background-color:#161817; border-color:#ff9a63;}
a.popbt:hover {color:#ffffff; background-color:#000000; border-color:#888888;}
.popbt.active {color:#ffffff; background-color:#000000; border-color:#161817;}
.poph {color:#cccccc;}
.poph a {color:#cccccc;}
.poph a:hover {color:#ffffff;}
a.poph:hover {color:#ffffff; background-color:#0f0f0f;}
.popw {border-color:#161817;}
.popw a {border-color:#161817;}
.popw a:hover {border-color:#888888;}
a.popw:hover {color:#ffffff; background-color:#000000; border-color:#888888;}
.popsav {color:#ffffff; border-color:#888888; background:rgba(255,154,99,0.4);}
.popsav a {border-color:#ff9a63;}
a.popsav:hover {color:#ffffff; background-color:#000000; border-color:#ff9a63;}
.popdel {color:#ffffff; background-color:#161817; background-color:rgba(190,0,0,0.4);}
.popdel a:hover {color:#161817;}
a.popdel:hover, a.popdel:hover .philum {color:#ffffff; background-color:#000000; border-color:rgb(190,0,0);}
.stabilo {color:#ff9a63;}
.stabilo a {color:#ff9a63;}
.txtclr {color:#ff9a63; font-weight:normal;}
.txtclr a {color:#ff9a63;}
.grey {color:#888888;}
.grey a {color:#888888;}
.grey a:hover {color:#ffffff;}
.grey .philum {color:#888888;}
.grey .philum a {color:#888888;}
.grey .philum a:hover {color:#ffffff;}
.grey .philum:hover {color:#cccccc;}
.blocktext {background-color:#000000; border-color:#888888;}
.cols {columns:auto 250px; margin-top:10px;}
.cols .pubart {display:inline-block;}
.cols .panart {display:inline-block; width:100%; border-style:solid; border-width:0px;}
.cols div {/*display:inline-block;*/}
.cols section {display:inline-block;}
.cols p {margin:0 0 20px;}
.colsmall {columns:auto 140px; -moz-columns:auto 140px; font-size:90%; line-height:130%;}
.colsmall a {display:block;}
.search input {background-color:#0f0f0f; border-color:#888888; font-size:small; border-radius:2px;}
.search input:hover {background-color:#000000; border-color:#cccccc; font-size:small; border-radius:2px;}
.search input:focus {background-color:#000000; border-color:#cccccc;}
.track, .trkmsg {color:#ffffff; border-color:#888888; font-size:1em; margin:0 0 2px 0; border-width:0px; border-style:solid; padding:4px 6px; border-collapse:collapse; background-color:rgba(136,136,136,0.2);}
.track, .trkmsg a {color:#ff9a63;}
.track, .trkmsg a:hover {color:#cccccc;}
.track a {text-decoration:underline;}
.trkmsg {background-color:#161817; border-width:0px;}
.letter {color:#ffffff; background-color:#0f0f0f; font-size:17px; font-family:times, serif; line-height:20px; text-align:justify; padding:20px; box-shadow:2px 2px 5px #888888;}
.letter a {color:#ff9a63;}
.letter a:hover {color:#ff9a63;}
.twit {color:#ffffff; background-color:#000000; border-color:#000000; padding:10px; margin:1px 0; border-radius:10px; border-width:1px; border-style:solid; box-shadow:1px 1px 3px rgba(136,136,136,0.2); text-align:left; font-size:16px; line-height:1em; white-space:break-spaces;}
.twitter {color:#cccccc; border-color:#161817; padding:10px 0;}
.twitter a {color:#ffffff;}
.twitter a:hover {color:#ff9a63;}
.twitter:hover {background-color:#161817; border-color:#888888;}
.pubart {margin-bottom:10px; text-align:left;}
.pubart h4 {margin:2px 0 12px;}
.pubart h4 a {line-height:15px;}
.pubart h4 a:hover {color:#ff9a63;}
.pubart img {margin-bottom:6px;}
.panart {font-family:Arial; font-size:16px; padding:0px; margin:0 0 10px 0; transition:all 0.2s ease;}
.panart:hover {background-color:#000000;}
.panart a {color:#cccccc;}
.panbkg, .coverbkg {background-color:#0f0f0f; transition: all 0.3s ease; background-size:100%; margin:0; height:200px; filter:contrast(90%) brightness(97%); background-image:linear-gradient(to bottom,rgba(255,154,99,0.4),rgba(0,0,0,0.4)),linear-gradient(45deg,rgba(0,0,0,0.4),rgba(255,154,99,0.4));}
.panart:hover .panbkg {filter:contrast(100%) brightness(100%); background-size:100%;}
.pantxt {color:#ffffff; position:absolute; top:6px; left:5px; padding:10px; background-color:rgba(0,0,0,0.7); font-size:larger; text-shadow: 2px 1px 3px rgba(0,0,0,0.3); box-shadow:0 4px 8px rgba(0,0,0,0.4); width:80%;}
.coverbkg {height:240px;}
.covertxt {color:#000000; padding:16px; background:rgba(255,255,255,0.8); font-size:28px; position: absolute; top: 0px; max-width:60%;}
.covertxt a {color:#000000;}
.apichan a {color:#000000;}
.apichan a:hover {color:#000000;}
.apichan {transition: all 0.2s ease;}
.apichan a {display:inline-block; margin:4px; padding:0 16px; background:linear-gradient(20deg,rgb(255, 255, 255,0.4),rgba(255,255,255,0)); line-height:3em; text-shadow:1px 1px 2px #ffffff; transition: background 0.2s ease;}
.apichan a:hover {background:linear-gradient(200deg,rgb(255, 255, 255,0.4),rgba(255,255,255,0));}
.apichan a .philum, .apichan a:hover .philum {color:#000000; font-size:x-large;}
.sticky {line-height:normal; display:inline;}
.nbp {color:#ffffff; font-size:13px; margin:0 0 4px 0; line-height:normal; background:inherit;}
.nbp a {color:#ffffff;}
.nbp a {color:#ffffff; border:0; padding:2px 4px;}
.nbp a {color:#ffffff;}
.nbp a:hover {color:#ff9a63;}
.nbp .active {color:#ffffff; background-color:#888888;}
.nbp a:hover {color:#ffffff; background-color:#888888;}
.nbp .active a:hover {color:#ffffff; background-color:#888888;}
.list a {color:#cccccc; background-color:#000000; padding:1px 2px;}
.list a:hover {color:#ffffff; background-color:#161817;}
.list a.active {color:#ffffff; background-color:#0f0f0f;}
.dlist div {color:#cccccc; padding:1px 2px;}
.dlist div:hover {color:#cccccc; background-color:#161817;}
#bub .inline .bub ul {box-shadow:0;}
.bub li {background-color:#;}
.taxonomy {color:#ffffff;}
.taxonomy a {color:#ffffff;}
.taxonomy a:hover {background-color:#000000;}
.taxonomy li {color:#ffffff; padding:0;}
.taxonomy li a {color:#ffffff;}
.etc {color:#ffffff; /*text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:220px;*/}
.etc a {color:#ffffff;}
.nl {white-space:break-spaces;}
.flapf {color:#ffffff; background-color:#0f0f0f; padding:0;}
.flapf a {color:#ffffff;}
.flap li a.active {color:#ffffff; background-color:#161817;}
.flap li a:hover {color:#ffffff; background-color:#161817;}
.fimnu a {color:#ffffff; border:0; background:inherit;}
.fimnu a:hover {color:#ff9a63;}
.fimnu a.active {color:#ff9a63;}
.fipop {color:#cccccc; background-color:#000000; border-color:#0f0f0f;}
.imgl {margin:2px 4px 0 0; width:auto;}
.left {float:left;}
.right {float:right;}
.center {text-align:center;}
.inblock {background-color:#000000; display:inline-block;}
.btp a {padding:2px 4px:}
.bkg {background-color:rgba(136,136,136,0.5);}
.console {padding:6px;}
.icones {text-shadow:0 0 0px #888888; width:130px; height:88px;}
.icones:hover {text-shadow:0px 0px 1px #888888;}
.sicon {width:120px;}
.video img {border-color:#ffffff; border-width:2px; border-style:solid; transition: all 0.2s ease;}
.video img:hover {border-color:#ff9a63; border-width:2px; border-style:solid; -webkit-filter: saturate(2) opacity(0.8);}
#dragup {background-color:#161817; border-color:#888888;}
.philum {color:#cccccc; font-size:22px; display:inline-block; font-weight:normal; font-style-normal;}
a .philum {color:#cccccc;}
a.philum:hover {color:#ffffff;}
.philum:hover {color:#ffffff;}
.active .philum {color:#ff9a63;}
.active .philum:hover {color:#ff9a63;}
.philum.active, #bub .philum.active {color:#ff9a63; color:#bd0000;}
.20px {min-width:20px;}
.popup {color:#ffffff; background-color:#161817; border-color:#888888; border-width:1px; border-radius:4px; margin:0px; box-shadow:0px 0px 8px -4px rgba(136,136,136,0.4);}
.popup article {margin:2px 20px; /*padding:will debord!*/}
.popup section {padding:10px; margin:0;}
.popa {color:#ffffff; background-color:#161817; border-radius:4px 4px 0 0; padding:0 4px;}
.popa .philum {font-size:27px; padding:0 4px;}
.popu {color:#ffffff; padding:0; border-radius:0 0 4px 4px;}
#popup section {color:#ffffff;}
#popup header {color:#ffffff; padding:0;}
#popup article {color:#ffffff; margin:8px 0;}
@media only screen and (min-width: 980px) {#bub{font-size:normal;} #bub li a{padding:2px 2px 1px;} #page{max-width:920px;} #menu li a{font-size:normal;} #artmod{display:block;} #rightbar{display:block;} .admnu{height:32px;} .philum {font-size:22px;} input{font-size:normal;} .justy{font-size:20px;}}
