.as-topo:before{content:"\7";}
.as-topo-open:before{content:"\8";}
.as-phi1:before{content:"\3a6";}
.as-alpha:before{content:"\3b1";}
.as-beta:before{content:"\3b2";}
.as-gamma:before{content:"\3b3";}
.as-delta:before{content:"\3b4";}
.as-epsilon:before{content:"\3b5";}
.as-zeta:before{content:"\3b6";}
.as-eta:before{content:"\3b7";}
.as-theta:before{content:"\3b8";}
.as-iota:before{content:"\3b9";}
.as-kappa:before{content:"\3ba";}
.as-lambda:before{content:"\3bb";}
.as-mu:before{content:"\3bc";}
.as-nu:before{content:"\3bd";}
.as-xi:before{content:"\3be";}
.as-omicron:before{content:"\3bf";}
.as-pi:before{content:"\3c0";}
.as-rho:before{content:"\3c1";}
.as-sigma:before{content:"\3c2";}
.as-sigma1:before{content:"\3c3";}
.as-tau:before{content:"\3c4";}
.as-upsilon:before{content:"\3c5";}
.as-phi:before{content:"\3c6";}
.as-chi:before{content:"\3c7";}
.as-psi:before{content:"\3c8";}
.as-omega:before{content:"\3c9";}
.as-oomo:before{content:"\416";}
.as-s3:before{content:"\2042";}
.as-s2:before{content:"\2051";}
.as-s1:before{content:"\2055";}
.as-moreless:before{content:"\2213";}
.as-filelist:before{content:"\2261";}
.as-menu2:before{content:"\2263";}
.as-copy:before{content:"\22b6";}
.as-paste:before{content:"\22b7";}
.as-not:before{content:"\2310";}
.as-search:before{content:"\2315";}
.as-hash:before{content:"\2317";}
.as-command:before{content:"\2318";}
.as-share:before{content:"\2384";}
.as-shared:before{content:"\2388";}
.as-print:before{content:"\2399";}
.as-nbsp:before{content:"\23b5";}
.as-eject:before{content:"\23cf";}
.as-irrationnal:before{content:"\23e3";}
.as-hr:before{content:"\23e4";}
.as-time:before{content:"\23f1";}
.as-wait:before{content:"\23f3";}
.as-left:before{content:"\23f4";}
.as-right:before{content:"\23f5";}
.as-up:before{content:"\23f6";}
.as-down:before{content:"\23f7";}
.as-pause:before{content:"\23f8";}
.as-circle:before{content:"\23fa";}
.as-record:before{content:"\23fa";}
.as-logout:before{content:"\23fb";}
.as-login:before{content:"\23fc";}
.as-view:before{content:"\23ff";}
.as-etc:before{content:"\2505";}
.as-table:before{content:"\25a6";}
.as-play:before{content:"\25ba";}
.as-icons:before{content:"\25cb";}
.as-virtual:before{content:"\25cc";}
.as-flap:before{content:"\25eb";}
.as-redim:before{content:"\25f0";}
.as-textcenter:before{content:"\25fa";}
.as-textright:before{content:"\25ff";}
.as-sun:before{content:"\2600";}
.as-phone:before{content:"\260e";}
.as-emptycase:before{content:"\2610";}
.as-valid:before{content:"\2611";}
.as-unvalid:before{content:"\2612";}
.as-peace:before{content:"\262e";}
.as-yinyang:before{content:"\262f";}
.as-menu:before{content:"\2630";}
.as-smiley:before{content:"\263a";}
.as-batch:before{content:"\2652";}
.as-peak:before{content:"\2660";}
.as-clover:before{content:"\2663";}
.as-heart:before{content:"\2665";}
.as-diam:before{content:"\2666";}
.as-sound:before{content:"\266a";}
.as-apps:before{content:"\267e";}
.as-flag:before{content:"\2690";}
.as-tools:before{content:"\2692";}
.as-anchor:before{content:"\2693";}
.as-alert:before{content:"\26a0";}
.as-round:before{content:"\26aa";}
.as-union:before{content:"\26ad";}
.as-distinct:before{content:"\26ae";}
.as-separate:before{content:"\26af";}
.as-server:before{content:"\26c1";}
.as-banner:before{content:"\26c9";}
.as-html:before{content:"\26ca";}
.as-forbidden:before{content:"\26d4";}
.as-fullscreen:before{content:"\26da";}
.as-finder:before{content:"\26ec";}
.as-cut:before{content:"\2702";}
.as-true:before{content:"\2705";}
.as-hand:before{content:"\270b";}
.as-success:before{content:"\270c";}
.as-editor:before{content:"\270d";}
.as-edit:before{content:"\270e";}
.as-close:before{content:"\2716";}
.as-add:before{content:"\271a";}
.as-stars:before{content:"\2728";}
.as-star:before{content:"\2729";}
.as-asterix:before{content:"\2731";}
.as-del:before{content:"\274c";}
.as-false:before{content:"\274e";}
.as-help:before{content:"\2754";}
.as-info:before{content:"\2755";}
.as-config:before{content:"\2756";}
.as-love:before{content:"\2764";}
.as-chevron1:before{content:"\276e";}
.as-chevron2:before{content:"\276f";}
.as-code:before{content:"\2770";}
.as-accolad1:before{content:"\2774";}
.as-accolad2:before{content:"\2775";}
.as-plus:before{content:"\2795";}
.as-less:before{content:"\2796";}
.as-divide:before{content:"\2797";}
.as-block:before{content:"\27e4";}
.as-unblock:before{content:"\27e5";}
.as-back:before{content:"\2936";}
.as-refresh:before{content:"\2941";}
.as-triangle:before{content:"\29cd";}
.as-symetry:before{content:"\29de";}
.as-diez:before{content:"\29e3";}
.as-tag:before{content:"\29e3";}
.as-delconn:before{content:"\29ee";}
.as-conndot:before{content:"\29f0";}
.as-connslct:before{content:"\29f1";}
.as-conn:before{content:"\29f2";}
.as-xor:before{content:"\2a01";}
.as-nor:before{content:"\2a02";}
.as-sclose:before{content:"\2a2f";}
.as-width:before{content:"\2b0c";}
.as-height:before{content:"\2b0d";}
.as-select:before{content:"\2b1a";}
.as-like:before{content:"\2b50";}
.as-loading:before{content:"\2b5c";}
.as-get:before{content:"\2b67";}
.as-import:before{content:"\2b6a";}
.as-export:before{content:"\2b6c";}
.as-reload:before{content:"\2b6e";}
.as-upcloud:before{content:"\2b70";}
.as-update:before{content:"\2b78";}
.as-fsopen:before{content:"\2b94";}
.as-kleft:before{content:"\2b9c";}
.as-ktop:before{content:"\2b9d";}
.as-kright:before{content:"\2b9e";}
.as-kdown:before{content:"\2b9f";}
.as-fsclose:before{content:"\2bd0";}
.as-cluster:before{content:"\2c0f";}
.as-msql:before{content:"\2cb6";}
.as-list:before{content:"\2cb7";}
.as-logo:before{content:"\2ce0";}
.as-logo2:before{content:"\2ce1";}
.as-harmony:before{content:"\3004";}
.as-image:before{content:"\307a";}
.as-all:before{content:"\10a55";}
.as-music:before{content:"\1d11e";}
.as-i:before{content:"\1d54d";}
.as-b:before{content:"\1d657";}
.as-h:before{content:"\1d65d";}
.as-u:before{content:"\1d66a";}
.as-phi2:before{content:"\1d6d7";}
.as-cool:before{content:"\1f192";}
.as-free:before{content:"\1f193";}
.as-new:before{content:"\1f195";}
.as-ok:before{content:"\1f197";}
.as-globe:before{content:"\1f30e";}
.as-global:before{content:"\1f310";}
.as-sleep:before{content:"\1f319";}
.as-moon:before{content:"\1f31b";}
.as-taco:before{content:"\1f32e";}
.as-tree:before{content:"\1f333";}
.as-rose:before{content:"\1f337";}
.as-flower2:before{content:"\1f33b";}
.as-flower:before{content:"\1f33c";}
.as-leaf:before{content:"\1f33f";}
.as-fruit:before{content:"\1f345";}
.as-vegetable:before{content:"\1f346";}
.as-pizza:before{content:"\1f355";}
.as-gift:before{content:"\1f381";}
.as-mic:before{content:"\1f3a4";}
.as-headphones:before{content:"\1f3a7";}
.as-paint:before{content:"\1f3a8";}
.as-movie:before{content:"\1f3ac";}
.as-race:before{content:"\1f3c1";}
.as-trophee:before{content:"\1f3c6";}
.as-sport:before{content:"\1f3c8";}
.as-home:before{content:"\1f3e0";}
.as-industry:before{content:"\1f3ed";}
.as-finger:before{content:"\1f446";}
.as-thumb:before{content:"\1f44d";}
.as-user:before{content:"\1f464";}
.as-users:before{content:"\1f465";}
.as-alien:before{content:"\1f47d";}
.as-kiss:before{content:"\1f48b";}
.as-inlove:before{content:"\1f496";}
.as-idea:before{content:"\1f4a1";}
.as-comment:before{content:"\1f4ac";}
.as-money:before{content:"\1f4b0";}
.as-save2:before{content:"\1f4be";}
.as-disk:before{content:"\1f4bf";}
.as-folder:before{content:"\1f4c1";}
.as-folder2:before{content:"\1f4c2";}
.as-script:before{content:"\1f4c3";}
.as-txt2:before{content:"\1f4c4";}
.as-agenda:before{content:"\1f4c6";}
.as-charts:before{content:"\1f4c8";}
.as-stats:before{content:"\1f4ca";}
.as-clipboard:before{content:"\1f4cb";}
.as-fix:before{content:"\1f4cc";}
.as-rule:before{content:"\1f4cf";}
.as-rule2:before{content:"\1f4d0";}
.as-bookmark:before{content:"\1f4d1";}
.as-book:before{content:"\1f4d8";}
.as-scroll:before{content:"\1f4dc";}
.as-memo:before{content:"\1f4dd";}
.as-upload:before{content:"\1f4e4";}
.as-download:before{content:"\1f4e5";}
.as-pack:before{content:"\1f4e6";}
.as-newspaper:before{content:"\1f4f0";}
.as-gsm:before{content:"\1f4f1";}
.as-photo:before{content:"\1f4f7";}
.as-tv:before{content:"\1f4fa";}
.as-permut:before{content:"\1f500";}
.as-rollback:before{content:"\1f501";}
.as-reload2:before{content:"\1f504";}
.as-build:before{content:"\1f505";}
.as-builders:before{content:"\1f506";}
.as-connector:before{content:"\1f50c";}
.as-search2:before{content:"\1f50d";}
.as-key:before{content:"\1f511";}
.as-lock:before{content:"\1f512";}
.as-unlock:before{content:"\1f513";}
.as-url:before{content:"\1f517";}
.as-link:before{content:"\1f517";}
.as-clock:before{content:"\1f554";}
.as-speakers:before{content:"\1f56a";}
.as-local:before{content:"\1f574";}
.as-mail:before{content:"\1f582";}
.as-localize:before{content:"\1f588";}
.as-editxt:before{content:"\1f589";}
.as-edit2:before{content:"\1f58a";}
.as-editor2:before{content:"\1f58e";}
.as-network:before{content:"\1f5a7";}
.as-structure:before{content:"\1f5a7";}
.as-save:before{content:"\1f5ab";}
.as-admin:before{content:"\1f5b3";}
.as-sticky:before{content:"\1f5c5";}
.as-article:before{content:"\1f5c9";}
.as-articles:before{content:"\1f5ca";}
.as-file:before{content:"\1f5cb";}
.as-doc:before{content:"\1f5ce";}
.as-txt:before{content:"\1f5cf";}
.as-trash:before{content:"\1f5d1";}
.as-desktop:before{content:"\1f5d4";}
.as-window:before{content:"\1f5d7";}
.as-popup:before{content:"\1f5d7";}
.as-size:before{content:"\1f5da";}
.as-meet:before{content:"\1f5dc";}
.as-img:before{content:"\1f5e0";}
.as-chat:before{content:"\1f5e9";}
.as-forum:before{content:"\1f5ea";}
.as-world:before{content:"\1f5fa";}
.as-lol:before{content:"\1f604";}
.as-sad:before{content:"\1f641";}
.as-smile:before{content:"\1f642";}
.as-namaste:before{content:"\1f64f";}
.as-quote:before{content:"\1f677";}
.as-worksite:before{content:"\1f6a7";}
.as-no:before{content:"\1f6c7";}
.as-ufo:before{content:"\1f6f8";}
.as-close2:before{content:"\1f7ad";}
.as-asterix2:before{content:"\1f7ba";}
.as-previous:before{content:"\1f81c";}
.as-next:before{content:"\1f81e";}
.as-video:before{content:"\1f3ac";}
.as-rss:before{content:"\0";}
.as-fb:before{content:"\0";}
.as-tw:before{content:"\0";}
.as-square:before{content:"\0";}
.as-mini:before{content:"\0";}
