@font-face {font-family: 'Titillium3'; src: url('/fonts/Titillium3.eot?iefix') format('eot'), url('/fonts/Titillium3.woff') format('woff'), url('/fonts/Titillium3.svg#Titillium3') format('svg');}
body {color:#000000; background-color:#eaeaea; font-size:12px;}
a:active {outline:none;}
h1 {color:#ffffff; font-family:Titillium3, Arial, Arial Black; text-shadow: 0px 0px 10px #aaaaaa;}
h1 a {color:#ffffff;}
h1 a:hover {color:#000000;}
h2 {color:#000000; font-family:Titillium3, Arial, Trebuchet MS; text-rendering:optimizeLegibility; font-weight:normal; text-style:normal; font-size:170%; /*text-shadow:0;*/}
h2 a {color:#000000;}
h2 a:hover {color:#000000;}
h2 a:hover {color:#000000; text-shadow:0px 1px 4px #ffffff;}
h2 a:focus {color:#000000; text-shadow:0px 1px 4px #ffffff;}
h3 {color:#000000; font-family:Titillium3, Arial, Trebuchet MS; font-weight:normal; display:inline;}
h3 a {color:#000000;}
h3 a:hover {color:#000000;}
h4 {color:#000000; font-family:Titillium3, Arial, Trebuchet MS; font-size:14px; font-weight:normal; margin:7px 0;}
h4 a {color:#000000;}
h4 a:hover {color:#000000;}
td {color:#000000; border-color:#aaaaaa; box-shadow: 0px 0px 2px #dbdbdb;}
table {border-color:#aaaaaa; font-size:13px; box-shadow: 0px 0px 4px #dbdbdb;}
blockquote {background-color:#eaeaea; border-color:#aaaaaa; font-size:smaller; margin:0; padding:0 0 0 10px; background:0; border-left:1px solid #aaaaaa; box-shadow:0;}
fieldset {background-color:#eaeaea; border-color:#aaaaaa; font-size:smaller; margin:0; padding:10px; background:rgba(0,0,0,0.4); border:1px solid #eeeeee; box-shadow:0;}
hr {border-color:#aaaaaa;}
input {color:#000000; background-color:#eeeeee; border-color:#aaaaaa; font-size:small; box-shadow:inherit; transition: all 0.2s linear; -webkit-transition: all 0.2s ease; box-sizing:border-box; -moz-box-sizing:border-box;}
input:hover {background-color:#eaeaea;}
textarea {color:#000000; background-color:#eeeeee; border-color:#aaaaaa; box-shadow: 0 0 4px #ffffff; padding:0 2px; margin:2px 0; box-sizing:border-box; -moz-box-sizing:border-box;}
select {color:#000000; background-color:#eeeeee; border-color:#aaaaaa; box-shadow:0 0 2px #ffffff;}
button {background-color:#eaeaea; box-shadow: 0; padding:0;}
submit {color:#000000; background-color:#eeeeee; border-color:#aaaaaa;}
#page {text-align:left; margin:5px auto; width:auto; max-width:640px; min-width:320px; padding:0 10px; border-width:0;}
#banner {padding:0;}
#menu {color:#000000; border-width:0; margin:0; line-height:auto; padding:0 0 1px 0;}
#menu a {color:#000000;}
#menu a:hover {color:#000000;}
#leftbar {position:fixed; width:px; margin:0px 0 0 0;}
#rightbar {border-color:#aaaaaa; float:right; width:px;}
#content {margin:0; padding:0; border-style:solid; border-width:0;}
#footer {color:#000000; clear:both; border-style:solid; border-width:0; padding:10px; text-align:center; border-radius:0 0 10px 10px;}
#article {border-color:#aaaaaa; border-style:solid; border-width:0 0 1px 0; margin:0px 0; padding:10px 0;}
#article:hover {/*background:linear-gradient(to bottom,#dbdbdb,#eaeaea);*/}
#menu li {float:none;}
#menu li a {border-color:#aaaaaa; font-family:Titillium3, Verdana; font-size:small; border-width:0; border-style:solid; text-shadow:2px 2px 2px #aaaaaa; padding:0 2px;}
#menu li a:hover {color:#000000; border-color:#aaaaaa; text-shadow:2px 2px 2px #dbdbdb;}
#menu li.active a {color:#bd0000; border-color:#ffffff; border-width:0; text-shadow:2px 2px 2px #aaaaaa;}
#menu li.active a:hover {border-color:#aaaaaa; text-shadow:2px 2px 2px #dbdbdb;}
#menu .panel li {display:block; font-weight:normal; font-family:Verdana;}
#menu .panel li a:hover {border:0;}
#board {padding:0; border-width:0px; border-style:solid; border-radius:0; box-shadow:none;}
#board li {background:#eeeeee; box-shadow:0px 0px 4px #eeeeee; margin:10px 2px; padding:2px 4px; transition: all 0.2s linear; -webkit-transition: all 0.2s ease;}
#board li a {color:#;}
#board li a {color:#;}
#board li a:hover {color:#000000;}
#board li a:hover {color:#000000;}
#bub li ul {border-color:#eaeaea; box-shadow: 0 0 2px #aaaaaa;}
#bub li {color:#000000;}
#bub li a {color:#000000;}
#bub li a:hover {color:#000000;}
#bub li li {color:#000000; background-color:#eaeaea;}
#bub li li a {color:#000000; background-color:#eaeaea;}
#bub li li a:hover {color:#000000; background-color:#ffffff;}
#bub.inline ul {background-color:#eaeaea; border-color:#ffffff; box-shadow:0px 0px 4px #aaaaaa;}
.tab {border-color:#dbdbdb; margin:10px 0 0 0;}
.panel {color:#333333; font-family:Georgia; padding:0; border-radius:0 0 4px 4px;}
ul.panel li {font-family:Arial; margin:4px 0;}
ul.panel li a {color:#000000; border-color:#dbdbdb; word-wrap: break-word;}
ul.panel li a {color:#000000;}
ul.panel li a:hover {color:#bd0000; border-color:#eaeaea;}
ul.panel li.active a {background-color:#ffffff;}
.justy {color:#000000; font-family:Arial,Helvetica,Georgia,Verdana; font-size:larger; text-align:left; padding:0px; border-width:0; border-style:solid;}
.justy a {color:#000000;}
.justy a:hover {color:#bd0000;}
.justy p {padding-left:0px;}
.justy a {color:#bd0000; text-decoration:none;}
.justy a:hover {text-decoration:underline;}
.justy img {border-color:#ffffff; border-width:1px; border-style:solid; box-shadow:0px 0px 4px #aaaaaa;}
.justy ul, .justy ol {margin:0 0 0 16px; list-style:inherit;}
.active {color:#bd0000;}
.active a:hover {color:#bd0000;}
.txtit {color:#000000; font-family:Arial, Trebuchet MS;}
.txtit a {color:#000000;}
.txtit a:hover {color:#bd0000;}
.txtcadr {color:#000000; background-color:#eaeaea; border-color:#aaaaaa; padding:1px 4px; border-radius:10px; border-style:solid; border-width:1px; box-shadow:0px 0px 4px #dbdbdb; background:linear-gradient(to bottom,#ffffff,#dbdbdb);}
.txtcadr a {color:#000000;}
.txtcadr a:hover {color:#000000; background-color:#eaeaea; border-color:#aaaaaa; box-shadow:0px 0px 4px #dbdbdb; background:linear-gradient(to bottom,#ffffff,#eaeaea);}
.txtcadr a:hover a {color:#000000;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl {color:#000000; border-radius:4px; border-style:solid; border-width:0px; box-shadow:0px 0px 2px #dbdbdb;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl a {color:#000000;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl a:hover {color:#333333;}
.txtx {color:#000000; background-color:#eaeaea; border-color:#aaaaaa; border-width:0;}
.txtx a {color:#000000; border-color:#aaaaaa;}
.txtx a:hover {box-shadow: 0px 3px 4px #000000 inset, 0px 0px 4px #aaaaaa;}
.txtx:hover {box-shadow: 0px 0px 2px #ffffff;}
.txtblc {color:#000000; background-color:#ffffff;}
.txtblc a {color:#000000;}
.txtblc a:hover {color:#000000;}
.txtblc:hover {box-shadow: 0px 3px 4px #ffffff inset, 0px 0px 4px #aaaaaa;}
.txtred a:hover {border-color:#Array;}
.txtred {border-color:red; border-width:0 0 1px 0; box-shadow: 0px 3px 4px #ffffff inset, 0px 0px 2px #aaaaaa;}
.txtred a:hover {background-color:#ffffff; box-shadow: 0px 3px 4px #fff inset, 0px 0px 4px #999;}
.txtnoir {color:#eeeeee; background-color:#333333; box-shadow: 0px 0px 4px #dbdbdb;}
.txtnoir a {color:#eeeeee;}
.txtnoir a:hover {color:#ffffff; background-color:#000000;}
.txtnoir:hover {box-shadow: 0px 0px 4px #aaaaaa;}
.txtyl {color:#ffffff; border-color:#bd0000;}
.txtyl a {color:#ffffff;}
.txtsmall {color:#000000; font-family:Arial; font-size:small; padding:0px 1px; border-width: 1px 0 0 0;}
.txtsmall a {color:#000000;}
.txtsmall a:hover {color:#bd0000;}
.txtsmall2 {color:#000000; font-family:Arial; font-size:smaller; padding:0px 1px;}
.txtsmall2 a {color:#000000;}
.txtsmall2 a:hover {color:#000000;}
.txtbox {color:#000000; border-color:#aaaaaa; box-shadow:0px 0px 4px #eaeaea, 0px 0px 2px #eaeaea inset; background:linear-gradient(to bottom,#eaeaea,#dbdbdb);}
.txtbox a {color:#000000;}
.txtbox a:hover {color:#bd0000;}
.txtbox:hover {box-shadow:0px 0px 4px #dbdbdb, 0px 0px 2px #eaeaea inset; background:linear-gradient(to bottom,#eaeaea,#eeeeee);}
.txtaa {color:#bd0000; background-color:#eeeeee; /*active*/}
.txtab {color:#; background-color:#eaeaea; background:linear-gradient(to bottom,#ffffff,#dbdbdb);}
.txtab:hover {color:#000000; background-color:#dbdbdb; background:linear-gradient(to bottom,#ffffff,#ffffff);}
.txtac {border-color:#;}
.popbt, .popw, .popsav, .popdel {border-color:#; font-size:11px;}
.popbt {color:#000000; background-color:#ffffff; border-color:#ffffff; text-decoration:none; background:linear-gradient(to bottom,#ffffff,#eaeaea); box-shadow:inherit; transition: all 0.2s linear; -webkit-transition: all 0.2s ease;}
.popbt a {background-color:#eaeaea;}
.popbt a:hover {background-color:#ffffff;}
.popbt:hover {color:#000000; background-color:#ffffff; border-color:#ffffff; background:linear-gradient(to bottom,#eaeaea,#eaeaea);}
.popbt:hover a {background-color:#eaeaea;}
.popbt:hover a:hover {background-color:#ffffff;}
.poph {color:#; transition: all 0.2s linear; -webkit-transition: all 0.2s ease;}
.poph a {color:#;}
.poph a:hover {color:#000000;}
.poph:hover {color:#000000;}
.popw {color:#000000; background-color:#dbdbdb; text-decoration:none; background:linear-gradient(to bottom,#ffffff,#eaeaea); box-shadow: 0 0 2px #333333;}
.popsav {color:#000000; background-color:#dbdbdb; background:linear-gradient(to bottom,#ffffff,#eaeaea); box-shadow:0px 0px 3px #bd0000, 0px 0px 2px #eaeaea inset;}
.popsav:hover {color:#000000; background-color:#dbdbdb; box-shadow:0px 0px 5px #bd0000, 0px 0px 2px #ffffff inset;}
.stabilo {color:#bd0000; background-color:#ffffff;}
.stabilo a {color:#bd0000;}
.stabilo a:hover {color:#bd0000;}
.txtclr {background-color:#bd0000; font-weight:normal;}
.blocktext {background-color:#ffffff; border-color:#aaaaaa;}
.search input {border-color:#aaaaaa; box-shadow: 0px 3px 4px #dbdbdb inset, 0px 0px 2px #dbdbdb;}
.search:hover input {background-color:#eaeaea; border-color:#aaaaaa; box-shadow: 0px 2px 4px #eaeaea inset, 0px 0px 2px #aaaaaa;}
.track a {color:#bd0000;}
.track a:hover {color:#333333;}
.track {background:inherit; padding:4px; box-shadow: 0 0 4px #aaaaaa; border-style:none;}
input.editor {border-color:#ffffff; border-style:none; box-shadow: 0 0 2px #aaaaaa;}
.twitter {border-color:#dbdbdb;}
.twitter:hover {background-color:#dbdbdb; border-color:#aaaaaa;}
.ul.pubart li {margin-bottom:0px;}
.pubart_img {min-height:45px;}
.nbp {color:#; border-color:#dbdbdb; font-size:11px; margin-top:4px;}
.nbp a {color:#; background-color:#eeeeee; border-color:#dbdbdb;}
.nbp a:hover {color:#000000; background-color:#eaeaea; border-color:#eaeaea;}
.nb_pages {color:#000000;}
.nb_pages a {color:#000000;}
.nb_pages a {background-color:#eaeaea; border-color:#dbdbdb; background:linear-gradient(to bottom,#eaeaea,#dbdbdb); box-shadow:0px 0px 1px #aaaaaa; text-shadow:1px 1px 1px #dbdbdb; font-size:11px; border-width:0px;}
.nb_pages a:hover {color:#000000; border-color:#dbdbdb; background:linear-gradient(to bottom,#eaeaea,#ffffff);}
.nb_pages .active {border-color:#dbdbdb; background:linear-gradient(to bottom,#eaeaea,#ffffff);}
.taxonomy {color:#000000;}
.taxonomy a {color:#000000;}
.taxonomy a:hover {background-color:#eeeeee;}
.taxonomy li {color:#000000; padding:0;}
.taxonomy li a {color:#000000;}
.flapf {color:#000000; background-color:#eaeaea; padding:0;}
.flapf a {color:#000000;}
.flap li a.active {color:#000000; background-color:#dbdbdb;}
.flap li a:hover {color:#000000; background-color:#aaaaaa;}
.fimnu a {color:#000000; border:0; background:inherit;}
.fimnu a:hover {color:#bd0000;}
.fimnu a.active {color:#bd0000;}
.fipop {color:#; background-color:#eeeeee; border-color:#eaeaea;}
.imgl {margin:2px 10px 0 0;}
.bkg {background-color:rgba(104,104,104,0.8);}
.icones {text-shadow:0 0 4px #aaaaaa;}
.icones:hover {text-shadow:2px 2px 4px #aaaaaa; background:linear-gradient(to bottom,#ffffff,#eaeaea);}
.philum {color:#; font-size:16px;}
.philum a {color:#;}
.philum a:hover {color:#000000;}
a .philum {color:#333333;}
a:hover .philum {color:#000000;}
.philum:hover {color:#000000;}
.popup {color:#000000; background-color:#eaeaea; border-color:#aaaaaa;}
.popu {color:#000000;}
@media screen and (max-width: 640px) {ul{width:401px;} .justy img#rez {width:400px;} iframe {width:600px;} .philum{font-size:24px; line-height:auto;}}
@media screen and (max-width: 400px) {.popup{background-color:#ffffff;} ul{width:320px;} button{font-size:16px;} .justy img#rez{width:330px;} iframe {width:320px;} .philum{font-size:24px; line-height:24px;} #bub .philum {font-size:28px;} #bub.inline ul ul ul{min-width:120px;}}
