@font-face {font-family: "oomo"; src: url("/fonts/Oomo.eot?iefix") format("eot"), url("/fonts/Oomo.woff?v1.02") format("woff"), url("/fonts/Oomo.svg#oomo09") format("svg"), url("/fonts/Oomo.ttf") format("truetype");}
.oomo{font-family:"oomo";}
.oo-OU-O:before{content:"\0030";}
.oo-I-AS:before{content:"\0031";}
.oo-I-EN:before{content:"\0032";}
.oo-I-EDOO:before{content:"\0033";}
.oo-I-ES:before{content:"\0034";}
.oo-I-EGO:before{content:"\0035";}
.oo-O-AEE:before{content:"\0036";}
.oo-O-ANA:before{content:"\0037";}
.oo-O-ANMA:before{content:"\0038";}
.oo-O-ADA:before{content:"\0039";}
.oo-O-AS:before{content:"\003a";}
.oo-O-ADEN:before{content:"\003b";}
.oo-DOU-IO:before{content:"\003c";}
.oo-UMOAELEWE:before{content:"\0041";}
.oo-UMMOALEWEEANNI:before{content:"\0042";}
.oo-UMMOOEMII:before{content:"\0043";}
.oo-OEMII:before{content:"\0044";}
.oo-BUAWA:before{content:"\0045";}
.oo-BUAWA-BIAEI:before{content:"\0046";}
.oo-BUAWEE-BIAAEII:before{content:"\0046";}
.oo-WOA:before{content:"\0047";}
.oo-UMMOWOA:before{content:"\0048";}
.oo-ENMOO:before{content:"\0049";}
.oo-WAALI:before{content:"\004a";}
.oo-IU-AAXOO:before{content:"\004b";}
.oo-IU-UAXOO:before{content:"\004c";}
.oo-AAXOO:before{content:"\004d";}
.oo-UAXOO:before{content:"\004e";}
.oo-??:before{content:"\004f";}
.oo-AAIBOO:before{content:"\0052";}
.oo-NOXOOA:before{content:"\0053";}
.oo-NEBOEE:before{content:"\0054";}
.oo-AIIA:before{content:"\0055";}
.oo-ALABA:before{content:"\0056";}
.oo-BOO:before{content:"\0057";}
.oo-KEELOA:before{content:"\0058";}
.oo-O-OUDO:before{content:"\0059";}
.oo-OLROA:before{content:"\005a";}
.oo-EMMA:before{content:"\005b";}
.oo-SIMARII:before{content:"\005c";}
.oo-UIW:before{content:"\005d";}
.oo-IU1:before{content:"\005e";}
.oo-OEMBUUAW:before{content:"\0061";}
.oo-BAAYIODUU:before{content:"\0062";}
.oo-ESEE:before{content:"\0063";}
.oo-UMOAELEWE_1:before{content:"\006c";}
.oo-UMOAELEWE_2:before{content:"\006d";}
.oo-BUAWA_1:before{content:"\006e";}
.oo-BUAWA_2:before{content:"\006f";}
.oo-BUAWA-BIAEI_1:before{content:"\0070";}
.oo-BUAWA-BIAEI_2:before{content:"\0071";}
.oo-OEMMI_1:before{content:"\0072";}
.oo-UMMOWOA_1:before{content:"\0073";}
.oo-AXOO_1:before{content:"\0074";}
.oo-UAXOO_1:before{content:"\0075";}
.oo-AXOO_2:before{content:"\0076";}
.oo-UAXOO_2:before{content:"\0077";}
