@font-face {font-family: "oomo"; src: url("/fonts/Oomo.woff2?v2.2104301007") format("woff2"), url("/fonts/Oomo.woff?v2.2104301007") format("woff"), url("/fonts/Oomo.svg#oomo") format("svg"), url("/fonts/Oomo.ttf") format("truetype");}
.oomo{font-family:"oomo";}
.oo-OU-O:before{content:"\0030";}
.oo-OU-O_2:before{content:"\00b0";}
.oo-I-AS:before{content:"\0031";}
.oo-I-AS_2:before{content:"\00b1";}
.oo-I-EN:before{content:"\0032";}
.oo-I-EN_2:before{content:"\00b2";}
.oo-I-EDOO:before{content:"\0033";}
.oo-I-EDOO_2:before{content:"\00b3";}
.oo-I-ES:before{content:"\0034";}
.oo-I-ES_2:before{content:"\00b4";}
.oo-I-EGO:before{content:"\0035";}
.oo-I-EGO_2:before{content:"\00b5";}
.oo-O-AEE:before{content:"\0036";}
.oo-O-AEE_2:before{content:"\00b6";}
.oo-O-ANA:before{content:"\0037";}
.oo-O-ANA_2:before{content:"\00b7";}
.oo-O-ANMA:before{content:"\0038";}
.oo-O-ANMA_2:before{content:"\00b8";}
.oo-O-ADA:before{content:"\0039";}
.oo-O-ADA_2:before{content:"\00b9";}
.oo-O-AS:before{content:"\003a";}
.oo-O-AS_2:before{content:"\00ba";}
.oo-O-ADEN:before{content:"\003b";}
.oo-O-ADEN_2:before{content:"\00bb";}
.oo-DOU-IO:before{content:"\003c";}
.oo-DOU-IO_2:before{content:"\00bc";}
.oo-UMMOAELEWE:before{content:"\0040";}
.oo-UMMOAELEWE_2:before{content:"\00c0";}
.oo-UMMOALEWEEANNI:before{content:"\0041";}
.oo-UMMOALEWEEANNI_2:before{content:"\00c1";}
.oo-UMMOOEMII:before{content:"\0042";}
.oo-UMMOOEMII_2:before{content:"\00c2";}
.oo-OEMMII:before{content:"\0043";}
.oo-OEMMII_2:before{content:"\00c3";}
.oo-BUAWA:before{content:"\0044";}
.oo-BUAWA_2:before{content:"\00c4";}
.oo-BUAWA-BIAEI:before{content:"\0045";}
.oo-BUAWA-BIAEI_2:before{content:"\00c5";}
.oo-WOA:before{content:"\0046";}
.oo-WOA_2:before{content:"\00c6";}
.oo-UMMOWOA:before{content:"\0047";}
.oo-UMMOWOA_2:before{content:"\00c7";}
.oo-UIW:before{content:"\0048";}
.oo-UIW_2:before{content:"\00c8";}
.oo-ENMOO:before{content:"\0049";}
.oo-ENMOO_2:before{content:"\00c9";}
.oo-WAALI:before{content:"\004a";}
.oo-WAALI_2:before{content:"\00ca";}
.oo-AAXOO:before{content:"\004b";}
.oo-AAXOO_2:before{content:"\00cb";}
.oo-UAXOO:before{content:"\004c";}
.oo-UAXOO_2:before{content:"\00cc";}
.oo-DIIUYA-AAXOO:before{content:"\004d";}
.oo-DIIUYA-AAXOO_2:before{content:"\00cd";}
.oo-DIIUYA-UAXOO:before{content:"\004e";}
.oo-DIIUYA-UAXOO_2:before{content:"\00ce";}
.oo-AAIBOO:before{content:"\0052";}
.oo-AAIBOO_2:before{content:"\00d2";}
.oo-NOXOOA:before{content:"\0053";}
.oo-NOXOOA_2:before{content:"\00d3";}
.oo-NEBOEE:before{content:"\0054";}
.oo-NEBOEE_2:before{content:"\00d4";}
.oo-AIIA:before{content:"\0055";}
.oo-AIIA_2:before{content:"\00d5";}
.oo-ALABA:before{content:"\0056";}
.oo-ALABA_2:before{content:"\00d6";}
.oo-BOO:before{content:"\0057";}
.oo-BOO_2:before{content:"\00d7";}
.oo-KEELOA:before{content:"\0058";}
.oo-KEELOA_2:before{content:"\00d8";}
.oo-O-OUDO:before{content:"\0059";}
.oo-OLROA:before{content:"\005a";}
.oo-EMMA:before{content:"\005b";}
.oo-EMMA_2:before{content:"\00db";}
.oo-SIMARII:before{content:"\005c";}
.oo-SIMARII_2:before{content:"\00dc";}
.oo-1:before{content:"\005d";}
.oo-ESEE-OA:before{content:"\005e";}
.oo-OEMBUUAW:before{content:"\0060";}
.oo-OEMBUUAW_2:before{content:"\00e0";}
.oo-BAAYIODUU:before{content:"\0060";}
.oo-BAAYIODUU_2:before{content:"\00e0";}
.oo-2:before{content:"\0051";}
.oo-3:before{content:"\0062";}
.oo-3b:before{content:"\00e2";}
.oo-YAAESIOO-BUEA:before{content:"\0063";}
.oo-XAN-ELOOWA:before{content:"\0064";}
.oo-XAN-ELOOWA_2:before{content:"\00e4";}
.oo-4:before{content:"\0065";}
.oo-XANIBOOA:before{content:"\0066";}
.oo-5:before{content:"\0067";}
.oo-6:before{content:"\0068";}
.oo-6b:before{content:"\00e8";}
.oo-7:before{content:"\0069";}
.oo-8:before{content:"\006a";}
.oo-8b:before{content:"\00ea";}
.oo-9:before{content:"\006b";}
.oo-9b:before{content:"\00eb";}
.oo-GOSEEE:before{content:"\006c";}
.oo-GOSEEE_2:before{content:"\00ec";}
.oo-10:before{content:"\006d";}
.oo-10b:before{content:"\00ed";}
.oo-11:before{content:"\006e";}
.oo-11b:before{content:"\00ee";}
.oo-12:before{content:"\006f";}
.oo-BIEYAEYUEO-DOO:before{content:"\0070";}
.oo-13:before{content:"\0071";}
.oo-13b:before{content:"\00f1";}
.oo-14:before{content:"\0072";}
.oo-OAA-TAS:before{content:"\0073";}
.oo-OAA-TAS_2:before{content:"\00f3";}
.oo-15:before{content:"\0074";}
.oo-16:before{content:"\0075";}
.oo-16b:before{content:"\00f5";}
.oo-17:before{content:"\0076";}
.oo-17b:before{content:"\00f6";}
.oo-18:before{content:"\0077";}
.oo-18b:before{content:"\00f7";}
.oo-19:before{content:"\0078";}
.oo-19b:before{content:"\00f8";}
.oo-20:before{content:"\0079";}
.oo-20b:before{content:"\00f9";}
.oo-21:before{content:"\007a";}
.oo-21b:before{content:"\00fa";}
.oo-UULAXAA:before{content:"\007b";}
.oo-UULAXAA_2:before{content:"\00fb";}
.oo-OAWOOLEA-UEWA-OEMM:before{content:"\007c";}
.oo-OAWOOLEA-UEWA-OEMM_2:before{content:"\00fc";}
.oo-OAWOOLEA-OEMM-OMWEA-UMMO:before{content:"\007d";}
.oo-OAWOOLEA-OEMM-OMWEA-UMMO_2:before{content:"\00fd";}
.oo-OEMII:before{content:"\007e";}
.oo-22:before{content:"\00a1";}
.oo-22b:before{content:"\0101";}
.oo-23:before{content:"\00a2";}
.oo-24:before{content:"\00a3";}
.oo-24b:before{content:"\0103";}
