@font-face {font-family: 'newsnet'; src: url('/fonts/newsnet.woff2') format('woff2'), url('/fonts/newsnet.woff') format('woff'), url('/fonts/newsnet.svg#nn') format('svg');}
body {color:#333333; background-color:#f3f3f3; font-family:sans-serif; background-image:linear-gradient(to right, #f3f3f3,#c3c3c3),linear-gradient(61deg,rgba(243,243,243,0.9),rgba(195,195,195,0.1),rgba(255,255,255,0.2),rgba(119,119,119,0.7)),linear-gradient(151deg,rgba(243,243,243,0.7),rgba(195,195,195,0.7),rgba(255,255,255,0.6),rgba(119,119,119,0.5)); background-attachment: fixed; background-repeat: no-repeat;}
a:active {outline:none;}
h1,h2,h3,h4,h5 {color:#333333; margin:0;}
h1 a {color:#333333;}
h1 a:hover {color:#171717;}
.ban h1 {color:#171717; font-size:28px; background-image:linear-gradient(to right,#0b5fa4, #171717); background-clip:border-box; text-fill-color:transparent;}
.ban h1 a {color:#171717;}
h2 a {color:#333333;}
h2 a:hover {color:#171717;}
h2 a:hover {color:#171717;}
h2 a:focus {color:#171717;}
h2 a:visited {color:#333333;}
h3 a {color:#333333;}
h3 a:hover {color:#171717;}
#titles h3, header h3 {color:#171717; margin:0 0 12px 0; display:inline; font-size:large; font-weight:normal; font-variant-caps:small-caps;}
#titles h3, header h3 a {color:#171717;}
#titles h3, header h3 a:hover {color:#171717;}
#titles h4 {color:#171717; margin:0; font-weight:normal;}
#titles h4 a {color:#171717;}
#titles h4 a:hover {color:#171717;}
h4 a {color:#333333;}
h4 a:hover {color:#171717;}
h5 a {color:#333333;}
h5 a:hover {color:#171717;}
.justy h5, .justy h4, .justy h3, .justy h2, .justy h1 {color:#333333; margin:0.5em 0;}
p {margin:8px 0;padding:0 2px;}
article.panel p:first-child  {margin-top:0;}
article.panel p:last-child {margin-bottom:0;}
tr:nth-of-type(2n) {background:rgba(0,0,0,0.02);}
td,th {color:#171717; border-color:#777777; padding:4px; margin:2px;}
th {color:#171717; background-color:#ffffff; border-color:#777777;}
table {border-color:#777777; font-size:80%;}
blockquote {font-family:Arial; margin:2px 0; padding:12px 18px; border-style:solid; border-width:2px; border-radius:4px; text-align:left; font-size:90%; background-color:rgba(255,255,255,0.4); border-color:rgba(119,119,119,0.4); box-shadow:0px 0px 18px 0px rgba(119,119,119,0.4);}
header {padding:0;}
header h3 {margin:0 0 10px 0; display:block; font-size:large;}
section {clear:both; margin:10px 0 0px 0; padding:10px 0; border-radius:0px;}
section:hover .thumb {filter:grayscale(0%);}
section header {margin-top:-8px; margin-bottom:0px;}
section h4 {font-weight:normal;}
section .imgl {margin-right:10px;}
article {clear:left; margin:4px 0px;}
figure {margin:0;}
figcaption {color:#333333; font-family:Arial; font-size:smaller;}
hr {border-color:#f3f3f3;}
ul {padding:0; margin:0 0 0 16px;}
ul ul {margin:0 0 0 16px;}
ol {margin:0 0 0 16px;}
ol ol {margin:0 0 0 16px;}
li {padding:0px 0;}
sup {line-height:0;}
sub {line-height:0;}
img {filter:invert(0%);}
input {color:#333333; background-color:#ffffff; border-color:#f3f3f3; border-width:1px; border-style:solid; border-radius:0px; font-size:small; transition: background 0.2s linear; box-sizing:border-box; margin:1px 3px; padding:1px 2px; transition: all 0.2s linear;}
input:hover {background-color:#ffffff; border-color:#777777;}
input:focus {background-color:#ffffff; border-color:#777777;}
textarea {color:#333333; background-color:#e9e7e8; border-color:#c3c3c3; box-shadow: 0 0 4px #ffffff; padding:0 2px; margin:0px 0; border-radius:2px; box-sizing:border-box; -moz-box-sizing:border-box;}
textarea:hover, textarea:focus {border-color:#777777;}
select {color:#171717; background-color:#ffffff; border-color:#c3c3c3; box-shadow:0 0 2px #ffffff;}
button {color:#333333; font-size:smaller;}
submit {color:#171717; background-color:#ffffff; border-color:#c3c3c3;}
fieldset {background:rgba(255,255,255,0.2); margin:4px 0; padding:10px; border:1px solid #777777; box-shadow:0;}
legend {background:rgba(255,255,255,0.2); border:1px solid #777777;}
iframe {border:0px solid #777777;}
object {border:0;}
fact {text-shadow:0px 1px 2px #777777;}
quote {background-color:#ffffff;}
aside {background-color:#e9e7e8; font-size:smaller; padding:16px; border:1px solid #c3c3c3;}
#page {transition: all 0.2s ease; margin:0 10px; padding:32px 0 10px;}
#banner {padding:0; width:100%}
#banner .banim {background-size:cover; background-position:0; height:calc(100vw/4);}
#cover {padding:10px 0;}
#menu {color:#171717; border-width:0; line-height:20px;padding:0 0 10px;}
#menu a {color:#171717;}
#menu a:hover {color:#171717;}
#navigation {color:#171717; border-width:0; line-height:normal; margin:0 0 10px 0;}
#navigation a {color:#171717;}
#navigation a:hover {color:#171717;}
.menus {color:#333333; font-size:100%; margin:4px 0 0 0;}
.menus a {color:#333333;}
.menus a:hover {color:#171717;}
.menus a {padding:4px 6px;}
.menus a:hover {background-color:#ffffff; text-shadow:0px 0px 1px #777777;}
.menus a.active {background-color:#ffffff; text-shadow:0px 0px 1px #777777;}
#titles {color:#171717;}
#lbar {position:fixed; width:280px; height:calc(100vh - 40px); overflow-y:auto; scrollbar-width:none;}
#mbar {width:720px; margin-left:296px;}
#rbar {width:380px;}
#content {margin:0 0 10px 0;}
#footer {color:#171717; clear:both; text-align:left; border-radius:inherit;}
#menu li a {color:#333333;}
#menu li a:hover {color:#171717;}
#menu li {float:none;}
#menu a {font-family:Arial; font-size:small; border-width:0; border-style:solid; padding:2px 4px; margin:0px 0; line-height:20px;}
#menu a:hover {text-shadow:0px 0px 1px #777777;}
#menu a.active {text-shadow:0px 0px 1px #777777;}
#menu .panel {display:block; font-weight:normal; font-family:Verdana;}
#menu .philum {font-size:23px;}
#menu .panel a {border:0;}
#artmod {display:none; margin-left:10px; margin-top:2px;}
#board {padding:0;}
input#srch {width:120px; padding:1px 3px 1px;}
input#srch:focus {width:120px;}
#board li {background-color:#c3c3c3; box-shadow:0px 0px 4px #c3c3c3; margin:4px 2px; padding:4px; font-size:small;}
#board li a {color:#333333;}
#board li a:hover {color:#171717; text-shadow:0px 0px 1px #c3c3c3;}
#bub {z-index:1;font-size:medium;}
#bub li {padding:1px 2px 2px;}
#bub li.active {background-color:#ffffff;}
#bub li a {padding:0px 2px 1px;}
#bub li ul {min-width:120px;background-color:#e9e7e8; padding:2px 2px 2px;}
#bub li li a {padding:2px 2px 2px;}
#bub ul {color:#333333; background-color:#f3f3f3; box-shadow:0;}
#bub ul a {color:#333333;}
#bub ul a:hover {color:#171717;}
#bub ul ul {color:#333333; border-color:#777777; border-style:solid; border-width:1px;}
#bub ul ul a {color:#333333;}
#bub.inline ul a {color:#333333;}
#bub.inline ul a:hover {color:#171717;}
#bub.inline ul {background-color:#f3f3f3; border-radius:4px;}
#bub.inline ul ul a {color:#333333;}
#bub.inline ul ul a:hover {color:#171717;}
#bub.inline ul ul {background-color:#ffffff; border-color:#777777; border-width:1px;}
#bub li li:hover {background-color:#f3f3f3;}
#bub .philum {color:#333333; line-height:20px; min-width:16px;}
.desk a {color:#333333; width:56px; padding:0 4px; margin:0 4px;}
.desk a:hover {color:#171717; background-color:#ffffff;}
.tab {border-color:#c3c3c3; margin:0 0 10px 0;font-size:small; line-height:20px;}
.panel {color:#333333; font-family:Arial,Sans;padding:4px 0;}
.panel a {color:#0b5fa4;}
.panel a:hover {color:#0b5fa4;}
.panel a:hover {text-decoration:underline;}
ul.panel li {font-family:Arial; margin:0px 0; font-size:small;}
ul.panel li a {color:#171717; border-color:#c3c3c3; word-wrap: break-word;}
ul.panel li a {color:#171717;}
ul.panel li a:hover {color:#0b5fa4; border-color:#f3f3f3;}
.justy {color:#171717; font-family:Georgia; font-size:20px; text-align:left; line-height:1.2em;}
.justy a {color:#171717;}
.justy a:hover {color:#0b5fa4;}
.justy p {margin:12px 0;}
.justy a {text-decoration:underline;}
.justy a:hover {text-decoration:underline;}
.justy h1 {font-size:xx-large;}
.justy h2 {font-size:x-large;}
.justy h3 {font-size:large;}
.justy h4 {font-size:medium;}
.justy h5 {color:#777777; font-size:normal;}
.justy img {border-color:#777777; border-width:1px; border-style:solid; max-width:auto;}
.cols img#rez {width:100%;}
.justy .philum {line-height:1em;}
.grid-art {display:grid; grid-template-rows:auto; grid-template-columns:auto; grid-column-gap:16px; grid-row-gap:4px;}
.thumb {border-color:#777777; background-size:100%;background-position:center center;height:160px;width:298px;float:left;margin:0 10px 10px 0;transition: all 0.3s ease;border-width:1px;border-style:solid;background-size:100%;filter:grayscale(97%);background-image:linear-gradient(to bottom,rgba(11,95,164,0.4),rgba(255,255,255,0.4)),linear-gradient(45deg,rgba(255,255,255,0.4),rgba(11,95,164,0.4));}
.thumb:hover {border-color:#171717; background-size:100%;filter:grayscale(0%);}
.effect {filter:contrast(100%) brightness(400%) invert(100%);}
.active {color:#0b5fa4;}
.active a:hover {color:#0b5fa4;}
.txtit {color:#171717; font-size:21px; text-shadow:inherit; font-weight:bold;}
.txtit a {color:#171717;}
.txtit a:hover {color:#0b5fa4;}
.txtcadr {color:#333333; border-color:#c3c3c3; font-size:small; margin:10px 0; padding:3px 5px; font-variant:petite-caps; text-align:left;}
.txtcadr a {color:#171717;}
a.txtcadr:hover {color:#171717; background-color:#ffffff;}
a.txtcadr:hover a {color:#171717;}
.txtcadr.active {color:#171717;}
.txtcadr.active a {color:#171717;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl {color:#171717; border-radius:2px; border-style:solid; border-width:0px; box-shadow:0px 0px 2px #c3c3c3; font-size:0.8em;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl a {color:#171717;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl a:hover {color:#333333;}
.txtx {color:#171717; background-color:#e9e7e8; border-color:#777777; border-width:0;}
.txtx a {color:#171717; border-color:#777777;}
a.txtx:hover {background-color:#ffffff; text-decoration:none;}
.txtblc {color:#171717; background-color:#ffffff; box-shadow: 0px 0px 2px #777777;}
.txtblc a {color:#171717;}
.txtblc a:hover {color:#171717;}
.txtred a:hover {border-color:#;}
.txtred {border-color:red; border-width:1px; box-shadow: 0px 1px 1px #ffffff inset, 0px 0px 2px #777777; padding:2px 4px;}
a.txtred:hover {background-color:#ffffff; box-shadow: 0px 1px 2px #fff inset, 0px 0px 4px #777777;}
.txtnoir {color:#e9e7e8; background-color:#333333; box-shadow: 0px 0px 4px #c3c3c3;}
.txtnoir a {color:#e9e7e8;}
.txtnoir a:hover {background-color:#171717;}
a.txtyl, a.txtyl:hover {color:#ffffff; font-size:small;}
.txtsmall {color:#171717; font-family:Arial; font-size:80%; padding:0px 1px; border-width: 1px 0 0 0;}
.txtsmall a {color:#171717;}
.txtsmall a:hover {color:#0b5fa4;}
.txtsmall a {text-decoration:underline;}
.txtsmall2 {color:#333333; font-family:Arial; font-size:70%; padding:0px 1px;}
.txtsmall2 a {color:#333333;}
.txtsmall2 a:hover {color:#333333;}
.txtsmall2 a {padding:0 2px; border-radius:2px;}
.txtbox {color:#c3c3c3; background-color:#0b5fa4; box-shadow:0px 0px 0px #c3c3c3;}
.txtbox a {color:#c3c3c3;}
.txtbox a:hover {color:#e9e7e8;}
a.txtbox:hover {background-color:#333333; box-shadow:0px 0px 0px #c3c3c3;}
.txtaa, .txtab, .txtac {border-color:#f3f3f3; border-width:0 0 0px 0; border-style:solid; line-height:20px; border-radius:6px 6px 0px 0px;}
.txtaa {color:#171717; background-color:#ffffff; box-shadow:0px 0px 4px -3px #777777;}
.txtab {color:#333333; background-color:#e9e7e8; box-shadow:0px 0px 4px -3px #777777;}
.txtab:hover {color:#171717; background-color:#ffffff;}
.txtac {border-width:0 0 1px 0; background:linear-gradient(to bottom,rgba(119,119,119,0),rgba(119,119,119,0.5));}
.popbt, .popw, .popsav, .popdel {color:#333333; border-color:#f3f3f3; text-decoration:none; padding:2px 4px; border-radius:2px; border-style:solid; border-width:1px; margin:1px;}
.popbt {color:#171717; background-color:#f3f3f3; border-color:#f3f3f3;}
.popbt a {background-color:#c3c3c3;}
a.popbt:hover {color:#171717; background-color:#ffffff; border-color:#777777;}
.popbt.active {color:#171717; background-color:#ffffff; border-color:#c3c3c3;}
.poph {color:#333333;}
.poph a {color:#333333;}
.poph a:hover {color:#171717;}
a.poph:hover {color:#171717; background-color:#f3f3f3;}
.popw {color:#171717; background-color:#ffffff; border-color:#c3c3c3;}
a.popw, a.popw:hover {background-color:#ffffff; border-color:#777777;}
.popsav {color:#171717; background:rgba(11,95,164,0.4);}
a.popsav:hover {color:#171717; background-color:#ffffff; border-color:#0b5fa4;}
.popdel {color:#171717; background-color:#e9e7e8; background-color:rgba(190,0,0,0.4);}
.popdel a:hover {color:#e9e7e8;}
a.popdel:hover, a.popdel:hover .philum {color:#171717; background-color:#ffffff; border-color:rgb(190,0,0);}
a.stabilo, .trkmsg a.stabilo, a.stabilo .philum, .trkmsg a:hover.stabilo {color:black;}
.stabilo {color:black;}
.txtclr {color:#0b5fa4; font-weight:normal;}
.txtclr a {color:#0b5fa4;}
.grey {color:#777777;}
.grey a {color:#777777;}
.grey a:hover {color:#171717;}
.grey .philum {color:#777777;}
.grey .philum a {color:#777777;}
.grey .philum a:hover {color:#171717;}
.grey .philum:hover {color:#333333;}
.blocktext {background-color:#ffffff; border-color:#777777;}
.cols {columns:auto 250px; margin-top:10px;}
.cols .pubart {display:inline-block;}
.cols .panart {display:inline-block; width:100%; border-style:solid; border-width:0px;}
.cols section {display:inline-block;}
.cols p {margin:20px 0;}
.blocks a {display:inline-block; width:270px; margin:0 5px;}
.colsmall {columns:auto 140px; -moz-columns:auto 140px; font-size:90%; line-height:130%;}
.colsmall a {display:block;}
.search input {background-color:#f3f3f3; border-color:#777777; font-size:small; border-radius:2px;}
.search input:hover {background-color:#ffffff; border-color:#333333; font-size:small; border-radius:2px;}
.search input:focus {background-color:#ffffff; border-color:#333333;}
.track, .trkmsg {color:#171717; background-color:#c3c3c3; border-color:#777777; font-size:1em; margin:0 0 2px 0; border-width:0px; border-style:solid; padding:4px 6px; border-collapse:collapse;}
.track, .trkmsg a {color:#0b5fa4;}
.track, .trkmsg a:hover {color:#333333;}
.track a {text-decoration:underline;}
.trkmsg {border-width:0px; background-color:rgba(233,231,232,0.8);}
.letter {color:#171717; background-color:#f3f3f3; font-size:17px; font-family:times, serif; line-height:20px; text-align:justify; padding:20px; box-shadow:2px 2px 5px #777777;}
.letter a {color:#0b5fa4;}
.letter a:hover {color:#0b5fa4;}
.twit {color:#171717; border-color:#ffffff; padding:10px; margin:1px 0; border-radius:10px; border-width:1px; border-style:solid; box-shadow:1px 1px 3px rgba(119,119,119,0.2); text-align:left; font-size:16px; line-height:1em; white-space:break-spaces; background-color:rgba(255,255,255,0.8);}
.twitter {color:#333333; border-color:#c3c3c3; padding:10px 0;}
.twitter a {color:#171717;}
.twitter a:hover {color:#0b5fa4;}
.twitter:hover {background-color:#c3c3c3; border-color:#777777;}
.pubart {margin-bottom:10px; text-align:left;}
.pubart h4 {margin:2px 0 12px; font-weight:normal; line-height:17px;}
.pubart h4 a {color:#171717; line-height:15px;}
.pubart h4 a:hover {color:#0b5fa4;}
.pubart img {margin-bottom:6px;}
.inline .panart {display:inline-block; width:280px; margin:4px;}
.panart {font-family:Arial; font-size:16px; padding:0px; margin:0 0 10px 0; transition:all 0.2s ease;}
.panart:hover {background-color:#ffffff;}
.panart a {color:#333333;}
.panbkg, .coverbkg {background-color:#f3f3f3; transition: all 0.3s ease; background-size:100%; margin:0; height:200px; filter:contrast(90%) brightness(97%); background-image:linear-gradient(to bottom,rgba(11,95,164,0.4),rgba(255,255,255,0.4)),linear-gradient(45deg,rgba(255,255,255,0.4),rgba(11,95,164,0.4));}
.panart:hover .panbkg {filter:contrast(100%) brightness(100%); background-size:100%;}
.pantxt {color:#171717; position:absolute; top:6px; left:5px; padding:10px; background-color:rgba(255,255,255,0.8); font-size:larger; text-shadow: 2px 1px 3px rgba(0,0,0,0.3); box-shadow:0 4px 8px rgba(0,0,0,0.4); width:80%; max-height:166px; scrollbar-width:thin; overflow:auto; text-overflow:ellipsis;}
.coverbkg {height:240px;}
.covertxt {color:#ffffff; padding:16px; background:rgba(23,23,23,0.8); font-size:28px; position: absolute; top: 0px; max-width:60%;}
.covertxt a {color:#ffffff;}
.apichan a {color:#ffffff;}
.apichan a:hover {color:#ffffff;}
.apichan {transition: all 0.2s ease;}
.apichan a {display:inline-block; margin:4px; padding:0 16px; background:linear-gradient(20deg,rgb(255, 255, 255,0.4),rgba(255,255,255,0)); line-height:3em; text-shadow:1px 1px 2px #171717; transition: background 0.2s ease;}
.apichan a:hover {background:linear-gradient(200deg,rgb(255, 255, 255,0.4),rgba(255,255,255,0));}
.apichan a .philum, .apichan a:hover .philum {color:#ffffff; font-size:x-large;}
.tab a {color:#171717; background-color:#f3f3f3; margin:0 2px; padding:2px 4px; border-radius:2px;}
.tab a.active, .tab a:hover {color:#171717; background-color:#ffffff;}
.sticky {background-color:#ffffff; line-height:normal; display:inline;}
.nbp {color:#171717; font-size:13px; margin:0 0 4px 0; line-height:normal; background:inherit;}
.nbp a {color:#171717;}
.nbp a {color:#171717; border-color:#f3f3f3; border-width:0px;border:style:solid;padding:2px 4px;}
.nbp a {color:#171717;}
.nbp a:hover {color:#0b5fa4;}
.nbp .active {color:#171717; background-color:#ffffff; border-color:#c3c3c3;}
.nbp a:hover {color:#171717; background-color:#ffffff;}
.nbp .active a:hover {color:#171717; background-color:#ffffff;}
.list a {color:#333333; background-color:#e9e7e8; padding:1px 2px;}
.list a:hover {color:#171717; background-color:#ffffff;}
.list a.active {color:#171717; background-color:#ffffff;}
.dlist div {color:#333333; padding:1px 2px;}
.dlist div:hover {color:#333333; background-color:#ffffff;}
#bub .inline .bub ul {box-shadow:0;}
.bub li {background-color:#;}
.taxonomy {color:#171717;}
.taxonomy a {color:#171717;}
.taxonomy a:hover {background-color:#ffffff;}
.taxonomy li {color:#171717; padding:0;}
.taxonomy li a {color:#171717;}
.etc {color:#171717; /*text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:220px;*/}
.etc a {color:#171717;}
.nl {white-space:break-spaces;}
.flapf {color:#171717; background-color:#f3f3f3; padding:0;}
.flapf a {color:#171717;}
.flap li a.active {color:#171717; background-color:#c3c3c3;}
.flap li a:hover {color:#171717; background-color:#c3c3c3;}
.fimnu a {color:#171717; border:0; background:inherit;}
.fimnu a:hover {color:#0b5fa4;}
.fimnu a.active {color:#0b5fa4;}
.fipop {color:#333333; background-color:#ffffff; border-color:#f3f3f3;}
.imgl {margin:2px 4px 0 0; width:auto;}
.left {float:left;}
.right {float:right;}
.center {text-align:center;}
.inblock {background-color:#ffffff; display:inline-block;}
.btp a {padding:2px 4px:}
.bkg {background-color:rgba(119,119,119,0.5);}
.console {padding:6px;}
.icones {text-shadow:0 0 0px #777777; width:130px; height:88px;}
.icones:hover {text-shadow:0px 0px 1px #777777;}
.sicon {width:120px;}
.video img {border-color:#171717; border-width:2px; border-style:solid; transition: all 0.2s ease;}
.video img:hover {border-color:#0b5fa4; border-width:2px; border-style:solid; -webkit-filter: saturate(2) opacity(0.8);}
#dragup {background-color:#c3c3c3; border-color:#777777;}
.philum {color:#333333; font-size:22px; display:inline-block; font-weight:normal; font-style-normal;}
a .philum {color:#333333;}
a.philum:hover {color:#171717;}
.philum:hover {color:#171717;}
.active .philum {color:#0b5fa4;}
.active .philum:hover {color:#0b5fa4;}
.philum.active, #bub .philum.active {color:#0b5fa4; color:#bd0000;}
.20px {min-width:20px;}
.ic-tw2 {color:#4099FF;}
.ic-fb2 {color:#3B5998;}
.popup {color:#171717; background-color:#e9e7e8; border-color:#777777; border-width:1px; border-radius:4px; margin:0px; box-shadow:0px 0px 8px -4px rgba(119,119,119,0.4);}
.popup article {margin:2px 20px;}
.popup section {padding:10px; margin:0;}
#popup section {color:#171717; background-color:#f3f3f3; padding:6px 10px;margin:0;}
.popa {color:#171717; background-color:#e9e7e8; border-radius:4px 4px 0 0; padding:0 4px; background-image:linear-gradient(to bottom,rgba(51,51,51,0.2) 0px,rgba(51,51,51,0) 15px,rgba(51,51,51,0.1) 16px);}
.popa .philum {font-size:27px; padding:0 4px;}
.popu {color:#171717; padding:0; border-radius:0 0 4px 4px;}
#popup header {color:#171717; padding:0;margin:0;}
#popup article {color:#171717; margin:8px 0;}
#desktop {background:rgba(0,0,0,0.1);height:100vh;padding:0;}
@media only screen and (min-width: 980px) {#bub li a{padding:2px 2px 1px;}#page{max-width:920px;}#menu li a{font-size:normal;}#artmod{display:block;}#rightbar{display:block;}.admnu{height:32px;}.philum {font-size:22px;}input{font-size:normal;}.justy{font-size:20px;}}
@media only screen and (max-width: 640px) {#page{margin:0;}.justy h1{font-size:24px;}.justy h2{font-size:22px;}.justy h3{font-size:20px;}.justy h4{font-size:19px;}.justy h5{font-size:18px;}article{margin:0;}.thumb{width:100%;margin:0 0 5px;float:none;}.justy {font-size:16px;text-align:left;}.grid-art{display:block;}.panbkg{height:200px;}.pantxt{font-size:medium;}}
